# ===== Java / Maven =====
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== IDEs =====
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/
.project
.classpath
.settings/
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# ===== Local env =====
.env
